---
import TagsList from "../../components/TagsList.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
    const gamesList = await Astro.glob("../../content/games/*.md");
    return gamesList.map((game) => ({
        params: { game: game.frontmatter.title },
        props: game,
    }));
}
const { game } = Astro.params;
const gameDetails = Astro.props;

const developers = gameDetails.frontmatter.developers;
const otherGamesByDeveloper = (await Astro.glob("../../content/games/*.md"))
    .filter((game) =>
        game.frontmatter.developers.some((dev) => developers.includes(dev)),
    )
    .filter((game) => game.frontmatter.title != gameDetails.frontmatter.title)
    .map((game) => game.frontmatter.title);
---

<Layout title="Games">
    <h2>{game}</h2>
    {
        gameDetails.frontmatter.youtubeVideo &&
            gameDetails.frontmatter.youtubeVideo != "" && (
                <div>
                    <iframe height="480" width="854"
                        src={
                            "https://www.youtube.com/embed/" +
                            gameDetails.frontmatter.youtubeVideo
                        }
                    ></iframe>
                </div>
            )
    }
    <div>
        <h3>Developers:</h3>
        <p>
            {
                developers.map((dev) => (
                    <a href={"/developers/" + dev}> {dev} </a>
                ))
            }
        </p>
    </div>
    {
        gameDetails.frontmatter.platforms && (
            <div id="platforms">
                <h3>Platforms:</h3>
                <ul>
                    {Object.entries(gameDetails.frontmatter.platforms).map(
                        ([platform, link]) => (
                            <li>
                                <a href={String(link)}>{platform}</a>
                            </li>
                        ),
                    )}
                </ul>
            </div>
        )
    }

 
</Layout>
<div>
    <TagsList tags={gameDetails.frontmatter.genres} linkPrefix="/genres/" />
</div>

{
    otherGamesByDeveloper.length > 0 && (
        <div>
            Other Games by the developers: {otherGamesByDeveloper.join(",")}
        </div>
    )
}
