---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allGames = await Astro.glob("../content/games/*.md");

import TagsList from "../components/TagsList.astro";
const allGenres = allGames
    .reduce((arr, game) => [...arr, ...game.frontmatter.genres], [])
    .reduce((arr, genre) => (!arr.includes(genre) ? [...arr, genre] : arr), []);

---

<Layout title="indiegames.co.il">
	<main>
		<h1>Games</h1>
		<ul role="list" class="link-card-grid">
			{
				allGames.map((game) => (
					<Card
						href={"/games/" + game.frontmatter.title}
						title={game.frontmatter.title}
						developers={game.frontmatter.developers}
						body={game.rawContent()}
						genres={game.frontmatter.genres}
					/>
				))
			}
		</ul>
		<h1>Genres</h1>
		<TagsList tags={allGenres} linkPrefix="/genres/"></TagsList>
	</main>
</Layout>

<style is:global>

</style>
